@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Paleta Primaria completa */
  --color-primary-0: #000000;
  --color-primary-5: #160041;
  --color-primary-10: #22005D;
  --color-primary-20: #3A0092;
  --color-primary-25: #4700AF;
  --color-primary-30: #5400CC;
  --color-primary-35: #6102E9;
  --color-primary-40: #6E26F5;
  --color-primary-50: #8653FF;
  --color-primary-60: #9E79FF;
  --color-primary-70: #B69BFF;
  --color-primary-80: #CFBCFF;
  --color-primary-90: #E9DDFF;
  --color-primary-95: #F6EEFF;
  --color-primary-98: #FDF7FF;
  --color-primary-99: #FFFBFF;
  --color-primary-100: #FFFFFF;

  /* Paleta Secundaria */
  --color-secondary-5: #001126;
  --color-secondary-10: #001C38;
  --color-secondary-20: #00325B;
  --color-secondary-30: #004880;
  --color-secondary-40: #0060A8;
  --color-secondary-50: #0279D1;
  --color-secondary-60: #3A94ED;
  --color-secondary-70: #6AAFFF;
  --color-secondary-80: #A1C9FF;
  --color-secondary-90: #D3E4FF;
  --color-secondary-95: #EAF1FF;

  /* Paleta Terciaria */
  --color-tertiary-5: #2B0013;
  --color-tertiary-10: #3E001E;
  --color-tertiary-20: #650034;
  --color-tertiary-30: #8E004C;
  --color-tertiary-40: #B51465;
  --color-tertiary-50: #D6357E;
  --color-tertiary-60: #F85198;
  --color-tertiary-70: #FF83B0;
  --color-tertiary-80: #FFB0C9;
  --color-tertiary-90: #FFD9E3;
  --color-tertiary-95: #FFECF0;

  /* Esquema Light Principal */
  --color-primary: #8653FF;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #E9DDFF;
  --color-on-primary-container: #201047;

  --color-secondary: #39608F;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #D3E4FF;
  --color-on-secondary-container: #001C38;

  --color-tertiary: #8B4A61;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #FFD9E3;
  --color-on-tertiary-container: #3A071E;

  /* Sistema de Superficies */
  --color-surface: #FDF7FF;
  --color-surface-dim: #DED8E0;
  --color-surface-bright: #FDF7FF;
  --color-surface-container-lowest: #FFFFFF;
  --color-surface-container-low: #F8F2FA;
  --color-surface-container: #F2ECF4;
  --color-surface-container-high: #ECE6EE;
  --color-surface-container-highest: #E6E0E9;

  /* Textos y Estados */
  --color-on-surface: #1D1B20;
  --color-on-surface-variant: #49454E;
  --color-outline: #7A757F;
  --color-outline-variant: #CAC4CF;

  /* Errores */
  --color-error: #BA1A1A;
  --color-on-error: #FFFFFF;
  --color-error-container: #FFDAD6;
  --color-on-error-container: #410002;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer components {
  .main-container {
    background: var(--color-surface);
    color: var(--color-on-surface);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;

  }
  .glass-effect {
    background: rgba(255, 255, 255, 0.476);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: var(--color-on-surface);
    font-size: var(--font-size-md);
    font-family: var(--font-sans);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F6EEFF;
    --foreground: #ededed;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
