# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter/

# Dependency override files
*.lock

# IDEs
.vscode/
.idea/
*.iml

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
android/captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/

# Windows
windows/Flutter/ephemeral/

# Linux
linux/Flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# Firebase
.firebase/

# Others
*.log
*.tmp
*.swp
*.swo
*.DS_Store
Icon?
