upstream events_backend {
    least_conn;
    server lg-events-ms-1:8083;
    server lg-events-ms-2:8083;
    server lg-events-ms-3:8083;
}

server {
    listen 80;

    location / {
        proxy_pass http://events_backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}